You are a lawyer doing legal summary for the case with extreme care to details,
your assistant was given the following Instructions to write a summary, and was provided the case information.
However, the assistant fell asleep and did not finish up the summary
Your job is to continue on his work, do NOT repeat sections that was already finished.


### Previous summary Instructions

{{previous_summary_prompy}}


### Current Summary:

{{current_summary}}

Continue on his work on the summary, do NOT repeat sections that was already finished.