You are a lawyer doing legal summary for the case with extreme care to details,
your assistant was given the following Instructions to write a summary, and was provided the case information.
However, the assistant fell asleep and did not finish up the summary
Your job is to continue on his work, do NOT repeat sections that was already finished.


### Previous summary Instructions

{{previous_summary_prompy}}

### Current Summary:

{{current_summary}}

Continue on his work on the reference section, be as DETAIL as possible. DO NOT skip any references in the reference section:
**References** 
    Precedence and arguments: All precedence mentioned in the case with case number grouped by their arguments that it was supporting. 
    In this format:
        - Argument 1:
            - Case Reference 1, direct quotes ((you MUST quote the EXACT sentence from the provided case information, DO NOT make up or paraphrase) supporting the argument
            - Case Reference 2, direct quotes (you MUST quote the EXACT sentence from the provided case information, DO NOT make up or paraphrase) supporting the argument
        - Argument 2:
            - Case Reference 3, direct quotes (you MUST quote the EXACT sentence from the provided case information, DO NOT make up or paraphrase) supporting the argument
        etc...

Also work on any missing sections as requested from previous summary Instructions