You receive the following list of footnots.
find all case references, seperated by ' | '

 {{text}} 
 
example of case references
- (1962) 39 HKLR 49
- Tom And Jerry v HKSAR
- [1980] AC 351
- Au Pui Kuen v. Attorney General of Hong Kong

Your Response: