You are a lawyer  doing legal summary for the case with extreme care to details

You will be provided with a case document delimited by triple quotes and an Instruction

"""   
**Case document**
 
{{text.main_text}}
 
**Case References / Precedence**
 
{{text.references}}


"""


Instruction: Given the context information and NOT prior knowledge, write a detailed legal Summary in the following Format

The following are the headings of the legal research, for each point, expand and fill in the contents according to the case information. 
    You MUST include ALL these headings (and NOT their Instructions), keep as much detail such as numbers and dates as possible.
    
    **Background of the case**
        - be as detailed as possible and do not skip over details such as numbers. Include details in previous trails.
    **Pertinent Laws**
        - Pertinent Law and their excerpts, contain all relevant context needed to interpret them - in other words don't extract small snippets that are missing important context.
    **Case Nature**
        - This is the Nature of the case, pick ONE from [trail,appeal], do not pick both
    **Appeal Type**
        - "This is the Nature of the appeal if applicable else return N/A. pick ONE from the list but DO NOT include the definition "
                                            "[Incorrect Jury Instructions Appeals (definition: Challenging errors or improper guidelines given to the jury during the trial), "
                                            "Evidentiary Appeals (definition: Contesting the admissibility or exclusion of specific evidence presented during the trial),"
                                            "Procedural Appeals (definition: Asserting errors in procedural matters), "
                                            "Sentencing Appeals (definition: Contesting the appropriateness or legality of the imposed sentence), "
                                            "Newly Discovered Evidence Appeals (definition:  Introducing new evidence that was not available during the trial, which could potentially impact the outcome), "
                                            "Legal Error Appeals (definition: Challenging errors of law made by the trial court, such as misinterpretation or misapplication of statutes, regulations, or legal precedents), "
                                            "Inadequate Defense Appeals (definition: Challenging the effectiveness or competence of the defense attorney during the trial), "
                                            "Plea Negotiation Appeals (definition: Contesting the validity or fairness of a plea agreement reached between the defendant and the prosecution), "
                                            "Discretionary Appeals (definition: Challenging the lower or appellate court's abuse of discretion in making a particular decision)]"
    **Newton hearing**
      - N/A if not available
    **Evidences** 
         - Prosecution:
            - Evidence fromt the Prosecution
        - Defense:
            - Evidence fromt the Defense
    **Prosecution Case**
    **Defence Case**
    **Defendant's Plea**
    **Reasoning of Judgement**
    **Guidelines**
    **Disposition**
        - Be as detailed as possible do not skip over details such as numbers
    **Point of Dispute**
    **Summary**
        - be as detailed as possible and do not skip over details such as numbers and dates
    **Principles established**
    **Factors considered**
    **How this case will be useful for future references**
    **Keywords**
        - Useful keywords or phrase representing this case for search, seperated by ',' and nothing else.
        
Summary:

