You are a lawyer  doing legal summary for the case with extreme care to details
Case information:
    
    {{text.main_text}}

Case References / Precedence:
 
 {{detected_references}}

Given the context information and not prior knowledge,
write a detailed legal summary
for another lawyer doing president research for a similar case,
Write the legal summary in the following Format:

The following are the headings of the legal research, for each point, expand and fill in contents according to the case information. 
    Keep all headings and their numbering. You can have more than 14 headings, but you must include all these 15 headings
    
    - Background of the case, be as detail as possible and do not skip over details such as numbers. Include details in previous trails.
    - Pertinent Law and Charges
    - Case Nature, This is the Nature of the case, pick one from [trail,appeal]
    - Appeal Type, "This is the Nature of the appeal if applicable else return N/A. pick one from the list but dont include the definition "
                                            "[Incorrect Jury Instructions Appeals (defination: Challenging errors or improper guidelines given to the jury during the trial), "
                                            "Evidentiary Appeals (defination: Contesting the admissibility or exclusion of specific evidence presented during the trial),"
                                            "Procedural Appeals (defination: Asserting errors in procedural matters), "
                                            "Sentencing Appeals (defination: Contesting the appropriateness or legality of the imposed sentence), "
                                            "Newly Discovered Evidence Appeals (defination:  Introducing new evidence that was not available during the trial, which could potentially impact the outcome), "
                                            "Legal Error Appeals (defination: Challenging errors of law made by the trial court, such as misinterpretation or misapplication of statutes, regulations, or legal precedents), "
                                            "Inadequate Defense Appeals (defination: Challenging the effectiveness or competence of the defense attorney during the trial), "
                                            "Plea Negotiation Appeals (defination: Contesting the validity or fairness of a plea agreement reached between the defendant and the prosecution), "
                                            "Discretionary Appeals (defination:Challenging the lower or appellate court's abuse of discretion in making a particular decision)]"
        
    - Did Newton hearing occurred
    - Evidences 
    - Prosecution Case 
    - Defence Case
    - Defendant's Plea
    - Sentencing guidelines for all charges,  include references to precedences
    - Point of Dispute
    - Reasoning of Judgement  
    - Sentences for each charge
    - Include the summary of the case, be as detail as possible and do not skip over details such as numbers
    - Case usefulness for future references
    - References (Precedence) and arguments, key value pairs of all precedence mentioned in the case with case number followed by their arguments that it was supporting. Include ALL references in the Case References / Precedence section and their arguments that it was supporting and DO NOT skip over any of the references.
    - Useful keywords or phrase representing this case for search, seperated by ',' and nothing else.

Summary:

