You receive the following list of footnotes. each line represent one or more cases references.
find ALL unique case references, seperated by '\n', DO NOT SKIP over any footnotes

**Footnotes**

{{text.references}}

the following information about Abbreviations and prefix may help.

**Hong Kongs court and their Abbreviations**

Court of Final Appeal : HKCFA
Court of Appeal: HKCA
Court of First Instance: HKCFI
Competition Tribunal: HKCT
District Court: HKDC
Family Court: HKFC
Lands Tribunal: HKLdT
Magistracies: HKMagC
Labour Tribunal: HKLaT
Small Claims Tribunal: HKSCT
Obscene Articles Tribunal: HKOAT
Coroner’s Court: HKCrC

**Case Type, Old Prefix and New Prefix**

Civil Appeal: Civ App, 	CACV
Criminal Appeal:	Crim App, 	CACC
Application for Review:	AR, 	CAAR
Attorney's General Reference: A.G.'s Reference, CAAG
Secretary for Justice's Reference: CASJ
Reservation of Question of Law: CAQL


// Example of case references:
    - (1962) 39 HKLR 123
    - Tom And Jerry v HKSAR
    - [1980] AC 312
    - Jerry Au v. Attorney General of Hong Kong
    - (2017) 30 HKCFAR 20.

Your Response: